#student-table{
    /* border-collapse: collapse; */
    width: 100%;
    font-family: Arial,sans-serif;

}

#student-table th,#student-table td{
    border: 1px solid #ddd;
    border: none;
    padding: 10px;
 text-align: left;
}

#student-table th{
 background-color: #826c6c;
}

.update-btn{
    background-color: #F44336;
    color: #fff;
    border:none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.update-btn:hover{
    background-color: #3e8e41;
}

.delete-btn{
    background-color:  #3e8e41;
    color: #fff;
    border:none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px; 
}
.delete-btn:hover{
    background-color: #F44336;
}
image{
    height: 20px;
}